<%- include('partials/header') %>
    <title>faculty</title>
    <link rel="stylesheet" href="FacultyStyle.css" />
  </head>
  <body>
    <div class="container my-3">
      <h1>Welcome --(faculty name)</h1>
      <hr />
      <div class="form my-3">
        <form
          action="/facultyUpload"
          method="post"
          enctype="multipart/form-data"
        >
          <div class="form-group">
            <label for="selectyear">Select Year</label>
            <select class="form-control" id="selectyear" name="Year">
              <option>UG-1</option>
              <option>UG-2</option>
              <option>UG-3</option>
              <option>UG-4</option>
              <option>PG</option>
            </select>
          </div>
          <div class="form-group">
            <label for="selectBranch">Select Branch</label>
            <select class="form-control" id="selectBranch" name="Branch">
              <option>Branch-1</option>
              <option>Branch-2</option>
              <option>Branch-3</option>
              <option>Branch-4</option>
              <option>Branch-5</option>
            </select>
          </div>
          <div class="form-group">
            <label for="selectSubject">Select Subject</label>
            <select class="form-control" id="selectSubject" name="subject">
              <option> Subject-1 </option>
              <option> Subject-2 </option>
              <option> Subject-3 </option>
              <option> Subject-4 </option>
              <option> Subject-5 </option>
            </select>
          </div>
          <div class="form-group">
            <label for="description"> Further Decsription</label>
            <textarea
              class="form-control"
              id="description"
              rows="3"
              name="description"
            ></textarea>
          </div>

          <div class="form-group addFile">
            <label>Add file</label>
            <input
              type="file"
              class="form-control"
              placeholder="filename"
              name="UploadedFile"
            />
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
<%- include('partials/footer') %>
