<%- include('partials/header') %>
    <title>Home</title>
    <link rel="stylesheet" href="HomeStyles.css" />
    
  </head>
  <body>
    <h1 class="Title text-center">Home</h1>
    <div class="logo">
      <i class="fas fa-university fa-5x"></i>
    </div>

    <div class="row text-center">
      <div class="col">
        <h2>Student</h2>
        <br />
        <br />
        <div class="Image">
          <a href="/Student"
            ><img
              class="shadow"
              src="https://picsum.photos/400/400"
              alt="Student"
              srcset=""
            />
          </a>
        </div>
        <br />
        <br />
      </div>
      <div class="col">
        <h2>Faculty</h2>
        <br />
        <br />
        <div class="Image">
          <a href="/Faculty">
            <img
              class="Image shadow"
              src="https://picsum.photos/400/400"
              alt="Faculty"
              srcset=""
            />
          </a>
        </div>
        <br />
        <br />
      </div>
    </div>
<%- include('partials/footer') %>
