<%- include('partials/header') %>
    <title>Student</title>
    <link rel="stylesheet" href="student.css">
    <body class="text-center">
        <%- include('partials/caurosel') %>
    </body>
<%- include('partials/footer') %>