body{
  background-image: url("B-4.jpg");
  background-size: 1700px 900px;
}
.logo {
  border-radius: 35px;
  margin-top: 15px;
  margin-bottom: 10px;
}
.Heading {
  text-align: center;
}
form {
  margin-top: 25px;
}
.form-group {
  text-align: center;
}

.btn {
  margin-top: 5px;
}
.formelements {
  text-align: center;
  position: center;
  width: 30%;
  margin: auto;
}
.btn {
  margin: 10px;
}

.warning{
  color: red;
}
.warningborder{
  border-color: red;
}